---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features from '~/components/widgets/Features.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'SubTrade — Perfect solution for creating subscription-based app in web3',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      // TODO: email page
      {
        variant: 'primary',
        text: 'Join waitlist',
        href: getPermalink('/contact'),
        target: '_blank',
        icon: 'tabler:mail-forward',
      },
      { text: 'Try the Demo', href: getPermalink('/demo') },
    ]}
  >
    <Fragment slot="title">
      Revolutionize Your Subscription Model with
      <span class="text-primary highlight"> SubTrade </span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Where <span class="font-semibold">ownership meets flexibility</span> - trade, sell, and buy subscription-based services
        like never before.
      </span>
      Suitable for Startups & Small Business.
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title=""
    subtitle=""
    items={[
      {
        title: 'Ease of Access',
        description:
          'Make it easy to sell services by tokenizing subscriptions, connecting you with the cryptocurrency market for new income opportunities.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Creator Empowerment',
        description:
          'Gain control over your subscription models, pricing, and distribution, all while benefiting from a secure, blockchain-based ecosystem.',
        icon: 'tabler:sword',
      },
      {
        title: 'Flexibility for Users',
        description:
          'Let users sell their subscriptions before they expire, making it easier for others to try the service.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Global Reach',
        description:
          'Reach global customers easily by using cryptocurrency, avoiding traditional currency exchange and banking fees.',
        icon: 'tabler:world-upload',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title=""
    subtitle=""
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'OK, tell me what is SubTrade again?',
        description:
          'SubTrade is a platform that turns subscriptions into tradable tokens using blockchain and NFTs, allowing users to buy, sell, or swap them in a marketplace. This offers new revenue opportunities for companies and more choices for consumers.',
      },
      {
        title: 'How to verify if a user has access permission to my service?',
        description:
          'Use our API/SDK to check if a user owns a subscription NFT on the blockchain. If they do, they get access to your service. This keeps your user base exclusive to NFT holders.',
      },
      {
        title: 'What is the cost of using SubTrade?',
        description:
          "The service is free during the Early Access period. After that, prices will be set according to market feedback and the platform's value. We aim for clear, fair pricing that aligns with SubTrade's innovations.",
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Join waitlist',
        href: getPermalink('/demo'),
        target: '_blank',
        icon: 'tabler:mail-forward',
      },
    ]}
  >
    <Fragment slot="title"> Sign up for early access to SubTrade </Fragment>

    <!-- <Fragment slot="subtitle"> Get early access and lead subscription innovation. Don't miss out. </Fragment> -->
  </CallToAction>
</Layout>
