---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features2 from '~/components/widgets/Features2.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'SubTrade — Perfect solution for creating subscription-based app in web3',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      // TODO: email page
      {
        variant: 'primary',
        text: 'Join waitlist',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:mail-forward',
      },
      { text: 'Try the Demo', href: getPermalink('/demo') },
    ]}
  >
    <Fragment slot="title">
      Revolutionize Your Subscription Model with
      <span class="text-primary highlight"> SubTrade </span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Where <span class="font-semibold">ownership meets flexibility</span> - trade, sell, and buy subscription-based services
        like never before.
      </span>
      Suitable for Startups & Small Business.
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features2
    id="features"
    tagline="Features"
    title="What you get with SubTrade"
    subtitle="Unlock the Simplicity and Potential of Crypto Commerce"
    items={[
      {
        title: 'Ease of Access',
        description:
          'SubTrade simplifies the process of selling your services. With just a few clicks, you can tokenize your subscriptions, opening up a whole new revenue stream that taps into the crypto-savvy audience.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Creator Empowerment',
        description:
          'Gain control over your subscription models, pricing, and distribution, all while benefiting from a secure, blockchain-based ecosystem.',
        icon: 'tabler:sword',
      },
      {
        title: 'Flexibility for Users',
        description:
          "Life changes and so do the needs of your subscribers. SubTrade introduces an unprecedented level of flexibility, allowing users to sell their subscriptions if they decide to quit before the next cycle. This not only benefits the current user but also lowers the barrier for new users to try your service.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Global Reach',
        description:
          "Break down geographical barriers and connect with customers worldwide. SubTrade's integration with cryptocurrency means you can expand your services globally without the complexities of traditional currency exchange rates or banking fees.",
        icon: 'tabler:world-upload',
      },
      {
        title: "",
        description: "",
        icon: "",
      },
      {
        title: "",
        description: "",
        icon: "",
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that SubTrade offers and how it can elevate your product."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why SubTrade?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Join waitlist',
        // TODO: waitlist email link
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:mail-forward',
      },
    ]}
  >
    <Fragment slot="title">
      Your Gateway to Subscription Innovation
    </Fragment>

    <Fragment slot="subtitle">
      Unlock exclusive early access and be among the pioneers to redefine the subscription landscape. Don't miss your chance to lead the way in subscription innovation.
    </Fragment>
  </CallToAction>
</Layout>
