---
import { SITE } from 'astrowind:config';
// import Image from '~/components/common/Image.astro';
// import LogoPNG from '~/assets/images/logo-low-resol.png';
---

<!-- <Image
  class="bg-white rounded-lg"
  layout="cover"
  width={32}
  height={32}
  src={LogoPNG}
  alt={'SubTrade Logo'}
/> -->
<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  {SITE?.name}
</span>
